{{> cabecera }}



    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Explosión</h1>
            <p> 
                Texto de relleno
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/explosion.png" class="img-thumbnail">
        </div>
    </div>

   {{> footer }}
